= render 'form', section: @section,
                 section_styles: @section_styles,
                 section_style_options: @section_style_options,
                 form_url: admin_page_sections_path
