#notification {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  font-size: 1rem;
  z-index: 999999;
  transition: opacity 5s ease-in-out;
  opacity: 0;

  &.success {
    background-color: rgb(0, 255, 0);
  }

  &.fail {
    background-color: rgb(255, 241, 84);
  }
}
