p = "Hello #{@resource.email}"

p = t('devise.mailer.reset_password_instructions.body.sentence_1')
p = t('devise.mailer.reset_password_instructions.body.sentence_2')

p = edit_password_url(@resource, reset_password_token: @token)
